*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(/Img/big-sur-mountains-clouds-sunrise-morning-macos-big-sur-6016x6016-1497.jpg);
    background-size: cover;
}

.row{
    padding: 100px;
    width: 2000px;
    height: 900px;
    display: flex;
    justify-content: center;
}

.Laptop{

    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.col{
    background:rgb(255, 255, 255);
    width: 500px;
    height: 620px;
    margin: 30px;
    border-radius: 10%;
    border:5px solid #ffbb91;
}

.up{
    color: #ff8e6e;

}

.up-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background:#515070;
    border-radius:10%;
    top:160px;
    margin-left: 290px;
}

h1{
    font-size: 28px;
    color:#ffffff;
}

.mid-div{
    position: absolute;
    top: 380px;
    width:200px ;
    height:50px ;
    background: #e84a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10%;
}

.REV{
    position: absolute;
    top:390px;
    margin-left: 250px;
    color:darkgray;
    font-size: 20px;
    font-weight: 600;
}

p{
    position: absolute;
    top: 450px;
    font-size: 15.5px;
}

button{
    width: 300px;
    height: 60px;
    position: absolute;
    top: 580px;
    margin-left: 30px;
    border: 5px solid #e84a5f;
    border-radius: 20%;
    font-size: 20px;
    font-weight: 600;
    background: #ff847c;
    color: rgb(255, 255, 255);
}

button:hover{
    border: 5px solid #ff847c;
    background: #e84a5f;
}

.Heart{
    position: absolute;
    top: 653px;
    margin-left: 270px;
    font-size: 35px;
}

.Heart:hover{
color: rgb(255, 0, 0);
}

.Text{
    position: absolute;
    top: 653px;
    margin-left: 20px;
    font-size: 35px;
}

.Text:hover{
color: #ff847c;
}

.REV:hover{
    color: #000;
}

.up:hover{
    color: #e84a5f;
}

.container-fluid{
    display: flex;
    justify-content: center;
}
.mid-div{
    overflow: hidden;
}
.mid-div:hover .flare{
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear; 
    margin-left: 220px;
}



@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}


.pulse {
    position: relative;
    text-align: center; 
    padding: 20px; 
    border-radius: 50%; 
    width: 80px;
    height: 80px;
}

  .pulse:hover::before {
    content: '';
    position: absolute;
    border: 1px solid #e84a5f;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .pulse:hover::after,.pulse:hover::before {
  content: '';
  position: absolute;
  border: 2px solid #e84a5f;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.pulse:hover::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}


.pulse-2 {
    position: relative;
    text-align: center; 
    padding: 20px; 
    border-radius: 50%; 
    width: 80px;
    height: 80px;
}

.pulse-2:hover::before {
    content: '';
    position: absolute;
    border: 1px solid #ff847c;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse-2 2.5s linear infinite;
  }

  @keyframes pulse-2 {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .pulse-2:hover::after, .pulse-2:hover::before {
  content: '';
  position: absolute;
  border: 2px solid #ff847c;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse-2 2.5s linear infinite;
}

.pulse-2:hover::after {
  animation-delay: 1.25s;
}

@keyframes pulse-2 {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
